table{
    width: 100%;
}

.tbl-header{
    background-color: rgba(255,255,255,0.3);
}

.tbl-content{
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
}

th{
    padding: 20px 15px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    width: 25%;
}

td{
    padding: 15px;
    width: 25%;
    vertical-align: middle;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255, 0.1);
}

section{
    margin: 50px
}

.editButton:hover{
    background: #17adf4;
}

.deleteButton:hover{
    background: #f8415d;
}